	<!DOCTYPE html>
	<html>
		<head>
			<title>All Employees</title>
			<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
		</head>
		<body>
		  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
		    <a class="navbar-brand" href="#">All Employees</a>
		      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		       <span class="navbar-toggler-icon"></span>
		     </button>
		 </nav>
<div class="d-flex flex-row flex-wrap" style="margin-top: 78px;">
	<div  class="w-25 p-3">
             <div class="card mb-3">
	             	 <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
	             	 	 <rect width="100%" height="100%" fill="#868e96"></rect>
		                <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
		            </svg>
	  
				   <div class="card-body">
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				  </div>
			</div>
       </div>

       <div  class="w-25 p-3">
             <div class="card mb-3">
	             	 <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
	             	 	 <rect width="100%" height="100%" fill="#868e96"></rect>
		                <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
		            </svg>
	  
				   <div class="card-body">
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				  </div>
			</div>
       </div>

       <div  class="w-25 p-3">
             <div class="card mb-3">
	             	 <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
	             	 	 <rect width="100%" height="100%" fill="#868e96"></rect>
		                <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
		            </svg>
	  
				   <div class="card-body">
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				  </div>
			</div>
       </div>

       <div  class="w-25 p-3">
             <div class="card mb-3">
	             	 <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
	             	 	 <rect width="100%" height="100%" fill="#868e96"></rect>
		                <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
		            </svg>
	  
				   <div class="card-body">
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				  </div>
			</div>
       </div>

       <div  class="w-25 p-3">
             <div class="card mb-3">
	             	 <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
	             	 	 <rect width="100%" height="100%" fill="#868e96"></rect>
		                <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
		            </svg>
	  
				   <div class="card-body">
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				  </div>
			</div>
       </div>

       <div  class="w-25 p-3">
             <div class="card mb-3">
	             	 <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
	             	 	 <rect width="100%" height="100%" fill="#868e96"></rect>
		                <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
		            </svg>
	  
				   <div class="card-body">
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				  </div>
			</div>
       </div> 

</div>
		 
		</body>
	</html>